pandas
sentence-transformers
pyyaml
pdfplumber
pdfminer.six
qdrant-client
tqdm
flask
werkzeug
blinker
requests
pytesseract
Pillow
scikit-learn
fastapi
uvicorn[standard]
langdetect
scipy
joblib
threadpoolctl
textblob
googletrans==4.0.0rc1
nltk
vaderSentiment